

<button (click)="openPopup()">Open Popup</button>

<app-popup *ngIf="isPopupOpen" (closePopup)="closePopup()" (nodeClicked)="onNodeClicked($event)"></app-popup>

<div class="container">
<div id="node5">you found me</div>


<p>The selected node number is: {{ nodenumber }}</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>

<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>

<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>
<p>helllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooo</p>

<div id="node1"> you found me</div>

</div>